@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tablet-container {
    @apply max-w-[1113px] w-full mx-auto;
}

:root {
    --primary: #c3551a;
    --secondary: #fccf64;

    --white-blue: #dbeafe;
    --dark-blue: #1e40af;

    --white-yellow: #fef9c3;
    --dark-yellow: #854d0e;

    --white-red: #fee2e2;
    --dark-red: #991b1b;

    --white-green: #dcfce7;
    --dark-green: #166534;

    --text-color: #333;
    --border-color: #d9d9d9;

    --font-family: 'Segoe UI', sans-serif;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-color);
    font-family: var(--font-family);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

@layer base {
    a {
        color: var(--text-color);
        text-decoration: none;
    }
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aeaeae;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    height: 3px;
    border-radius: 4px;
    background-color: #c3551a;
}

::-webkit-resizer {
    height: 4px;
}

/* Custom antd */

/* Thanh cuộn nhỏ hơn cho Segmented */
.ant-segmented::-webkit-scrollbar {
    height: 4px;
}

.min-height-scrollbar::-webkit-scrollbar {
    height: 3px;
}
/* Margin cho thanh cuộn không tràn ra ngoài */
.ant-segmented::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #d9d9d9;
    border-radius: 12px;
    margin: 0 5.5px; /* Làm ngắn thanh cuộn ở hai bên */
}

/* Border bottom thanh tab */
.ant-tabs-nav {
    &:before {
        border: none !important;
    }
}

/* Khoảng cách giữa các tab */
.ant-tabs-nav-list {
    width: 100% !important;
    justify-content: space-between !important;
}

.custom-antd-btn-dark-red:hover {
    color: var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    background-color: var(--white-red) !important;
}

.custom-antd-btn-dark-blue:hover {
    color: var(--dark-blue) !important;
    border-color: var(--dark-blue) !important;
    background-color: var(--white-blue) !important;
}

/* Ghi đè phần body của Modal */
.ant-modal-content {
    padding: 10px !important;
}

/* Hoặc nếu chỉ muốn bỏ padding cho body */
.ant-modal-body {
    padding: 0 !important;
}
