@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-[1280px] w-full mx-auto;
}

.tablet-container {
    @apply max-w-[1113px] w-full mx-auto;
}

:root {
    --primary: #c3551a;
    --secondary: #fccf64;

    --white-blue: #dbeafe;
    --dark-blue: #1e40af;

    --white-yellow: #fef9c3;
    --dark-yellow: #854d0e;

    --white-red: #fee2e2;
    --dark-red: #991b1b;

    --white-green: #dcfce7;
    --dark-green: #166534;

    --white-purple: #f3e8ff;
    --dark-purple: #6b21a8;

    --text-color: #333;
    --border-color: #d9d9d9;

    --bg-blue: #f1f5fb;

    --font-family: 'Segoe UI', sans-serif;
    --font-pacifico: 'Pacifico', sans-serif;
}

html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    font-size: 13px;
    line-height: 1.5;
    color: var(--text-color);
    font-family: var(--font-family);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

@layer base {
    a {
        color: var(--text-color);
        text-decoration: none;
    }
}

/* Animation */
@keyframes loading-progress {
    0% {
        width: 0%;
    }
    50% {
        width: 70%;
    }
    100% {
        width: 100%;
    }
}

.animate-loading-progress {
    animation: loading-progress 1.5s ease-in-out infinite;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aeaeae;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    height: 3px;
    border-radius: 4px;
    background-color: #c3551a;
}

::-webkit-resizer {
    height: 4px;
}

.scrollbar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.scrollbar-home {
    scrollbar-color: #fccf64 #fccf64; /* thumb | track */
}

.scrollbar-home::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-home::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
}

.scrollbar-home::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

/* Custom antd */

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    width: 30px !important;
    height: 30px !important;
}

/* Thanh cuộn nhỏ hơn cho Segmented */
.ant-segmented::-webkit-scrollbar {
    height: 4px;
}

.min-height-scrollbar::-webkit-scrollbar {
    height: 3px;
}
/* Margin cho thanh cuộn không tràn ra ngoài */
.ant-segmented::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #d9d9d9;
    border-radius: 12px;
    margin: 0 5.5px; /* Làm ngắn thanh cuộn ở hai bên */
}

/* Border bottom thanh tab */
.ant-tabs-nav {
    &:before {
        border: none !important;
    }
}

/* Khoảng cách giữa các tab */
.ant-tabs-nav-list {
    width: 100% !important;
    justify-content: space-between !important;
}

.custom-antd-btn-dark-red:hover {
    color: var(--dark-red) !important;
    border-color: var(--dark-red) !important;
    background-color: var(--white-red) !important;
}

.custom-antd-btn-dark-blue:hover {
    color: var(--dark-blue) !important;
    border-color: var(--dark-blue) !important;
    background-color: var(--white-blue) !important;
}

/* Ghi đè phần body của Modal */
.ant-modal-content {
    padding: 10px !important;
}

/* Hoặc nếu chỉ muốn bỏ padding cho body */
.ant-modal-body {
    padding: 0 !important;
}

.custom-otp input {
    width: 96px !important;
    padding: 16px !important;
    height: 48px !important;
    text-align: center !important;
    font-size: 1.25rem !important;
    background-color: var(--bg-blue) !important;
    border: none !important;
    border-radius: 8px !important;
}

.centered-tabs-nav-list .ant-tabs-nav-list {
    justify-content: center !important;
}
